@{
    Layout = "_Layout";
}

@model HairSalon.Models.Specialty

<header>
    <h1>Add Specialty</h1>
    <ul class="nav">
        <li>@Html.ActionLink("Specialties", "Index")</li>
    </ul>
</header>
<main>
    @using (Html.BeginForm())
    {
        <div class="form-entry">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
        </div>
    
        <input type="submit" value="Add Specialty">
    }
</main>
<footer>
    <ul class="nav">
        <li>@Html.ActionLink("Stylists", "Index", "Home")</li>
    </ul>
</footer>